main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    height: 200px;

}

.sunrise, .sunset{
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

div{
    /*position: relative;*/
    /*border: 1px solid black;*/
}

@media screen and (min-width: 450px) {
    section {
        width: 50%;
    }
    main,.description{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}

.line, .sunsetLine {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 0px;
    z-index: 1;
    border: 1px dashed black;
}

.sunsetLine{
    top: 50%;
}

.start{
    height: inherit;
    width: 58px;
    position: relative;
}

.midnightWrapper{
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.midnight{
    background: #fff;
}

.description {
    display: flex;
    flex-wrap: wrap;
}

.description section{
    height: 20px;
}

.afternoon{
    width: 56.89px;
}

.placeholder{
    width: 48px;
    white-space: nowrap;
}

.day:first-child{
    background: linear-gradient(to right, white 3%, #B7410E 10%, #1E164C 20%, #1E164C 44%, #B7410E 52%, white 63%, white 77%, #B7410E 90%, #1E164C);
}

.day:nth-child(2){
    background: linear-gradient(to right, #1E164C 20%, #B7410E 32%, white 42%, white 62%, #B7410E 69%, #1E164C 80%);
}

.solarSection:hover, .lunarSection:hover{
    cursor: pointer;
    font-size: 20px;
}

#firstSunset{
    display: flex;
}

#moon{
    position: absolute;
    top: 30px;
    font-size: 25px;
    color: #6e6e6e;
    right: 350%;
}

#moon2{
    position: absolute;
    top: 30px;
    font-size: 25px;
    color: #6e6e6e;
    right: 140%;
}

.legend{
    margin-left: 20px;
}

#lastQuarterMoon, #firstQuarterMoon{
    font-size: 25px;
    color: white;
    position: absolute;
    top: 35px;
    left: 45px;
}

#firstQuarterMoon{
    position: absolute;
    top: 10px;
}

.legend > p > span{
    font-size: 25px;
}